.calendar-win {
  @include window;
  padding: .2em;
}

calendar {
  padding: 5px;

  :selected {
    color: $accent;
  }

  .header {
    color: $subtext;
  }

  .highlight {
    color: $accent;
    font-weight: bold;
  }

  .button {
    color: $accent;
  }

  :indeterminate {
    color: $subtext;
  }
}
