.music-module {
	background-color: $bg;
	border-radius: 100px;
	padding: 0 10px;
}

/* module cover art */
.song-cover-art {
  @include rounding;
  background-position: center;
  background-size: cover;
  min-height: 24px;
  min-width: 24px;
	margin: 7px 5px;
	margin-left: 0;
}

/* music window */
.music-window {
  @include window;
}

/* cover, left child */
.music-cover-art {
  background-position: center;
  background-size: cover;
  border-radius: 8px;
  box-shadow: 0 1px 2px -1px rgba(0, 0, 0, .4);
  margin: 1em;
  min-height: 170px;
  min-width: 170px;
}

/* info box, right child */
.music-box {
  margin: 1rem 1rem 1rem 0;
}

.music-title {
  font-size: 2rem;
  font-weight: bold;
  margin: .5rem;
}

.dark { color: $bg; }
.light { color: $text; }

.music-artist {
  margin: 1rem;
}

.music-button-box {
  margin: 1rem 0 0;
}

.music-button label {
  font-size: 2rem;
}

.music-time {
  margin: 0 1rem;
}

.music-bar scale {
  highlight {
    background-color: $fg;
    border-radius: 24px;
  }

  trough {
    background-color: $bg1;
    border-radius: 24px;
    margin-top: 0;
    min-height: 10px;
    min-width: 170px;
  }
}
