@import 'css/colors';

@mixin rounding {
	border-radius: 16px;
}

@mixin window {
	background-color: $bg;
	background-position: center;
	background-size: cover;
	border: 1px solid rgba(0, 0, 0, 0.3);
	color: $fg;
	margin: 5px 5px 10px;
	@include rounding;
}

* {
	all: unset;
	font-family: "Agave Nerd Font";
	font-size: 20px;
	transition: 200ms ease;
}

@import 'css/volume';
@import 'css/system';
@import 'css/sidebar';
@import 'css/calendar';
@import 'css/osd';
@import 'css/music';

.bar {
	background: transparent;
	color: $fg;

	.text {
		margin-top: .2rem;
	}
}

.bar-box {
	padding-top: 10px;
	padding-bottom: 5px; /* 5px gap from hyprland style */
	padding-left: 10px;
	padding-right: 10px;
}

tooltip {
	background: $bg;
	border-radius: 8px;

	label {
		font-size: 1rem;
	}
}

/* icon font */
.icon, .icon label {
	font-family: 'Material Symbols Rounded';
}

.module {
	margin: 0 5px;
}

/* date & time */
.hour {
	font-weight: bold;
	padding-left: 5px;
}

.date {
	color: $date;

	label {
		font-size: 1.2rem;
	}
}

/* right-aligned modules */
.bright-icon { color: $bright; }
.module-bt { font-size: 1.2rem; }

/* scales */
scale trough {
	background-color: $bg1;
	border-radius: 24px;
	margin: 0 1rem;
	min-height: 10px;
	min-width: 70px;
}

/* workspaces */
.workspaces {
	background-color: $bg;
	margin: 0.6rem 0;
	padding: 0 5px;
	@include rounding;
}

.ws {
	border-radius: 2rem;
	margin: .3rem .25rem;
	min-width: 15px;
	min-height: 15px;

	&.empty { background-color: $bg1; }
	&.mon-0, &.mon- { background-color: $ws1; }
	&.mon-1 { background-color: $ws2; }
	&.mon-2 { background-color: $ws3; }
	&.mon-3 { background-color: $ws4; }
}

.ws-focus {
  background: linear-gradient(45deg, $wsActive1 0%, $wsActive2 50%, $wsActive3 100%);
  background-size: 300%;
  animation: 5s infinite alternate swoop;
}

@keyframes swoop {
  0% {
    background-position: bottom left;
  }
  100% {
    background-position: top right;
  }
}
